@page
@using DinoDiner.Data;
@using DinoDiner.Data.Entrees;
@using DinoDiner.Data.Sides;
@using DinoDiner.Data.Drinks;
@model IndexModel
@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h1>Dino Diner</h1>
    <h4><i>Satisfying dino-sized appetites!</i></h4>
</div>

<div class="content">
    <form>
        <fieldset>
            <legend>Name</legend>
            <input type="text" name="searchTerms" value="@Model.SearchTerms" />
            <input type="submit" value="Search">
        </fieldset>
        <fieldset>
            <legend>Item Type</legend>
            @foreach(string type in new[]{nameof(Entree), nameof(Side), nameof(Drink)}) {
                <label>
                    <input type="checkbox" name="itemTypes" value="@type" checked="@Model.ItemTypes.Contains(type)"/>
                    @type
                </label>
            }
        </fieldset>
        <fieldset>
            <legend>Calories</legend>
            Min:
            <input name="caloriesMin" type="number" min="0" max="1000" step="1" value="@Model.CaloriesMin"/>
            Max:
            <input name="caloriesMax" type="number" min="0" max="1000" step="1" value="@Model.CaloriesMax"/>
        </fieldset>
        <fieldset>
            <legend>Price</legend>
            Min:
            <input name="priceMin" type="number" min="0" max="10.00" step="0.01" value="@Model.PriceMin"/>
            Max:
            <input name="priceMax" type="number" min="0" max="10.00" step="0.01" value="@Model.PriceMax"/>
        </fieldset>
    </form>
    <div class="results">
        @if(Model.Items.Where(item => item is Entree).Count() > 0)
        {
            <h2 id="entrees">Entrees</h2>
            <div class="entree-item-container">
                @foreach(MenuItem item in Model.Items.Where(item => item is Entree))
                {
                    <div class="menu-item">
                        <p><b>@item.Name</b></p>
                        <p>Calories: @item.Calories</p>
                        <p>@String.Format("Price: {0:c}", item.Price)</p>
                    </div>
                }
            </div>   
        }

        @if(Model.Items.Where(item => item is Side).Count() > 0)
        {
            <h2 id="sides">Sides</h2>
            <div class="side-item-container">
                @foreach(MenuItem item in Model.Items.Where(item => item is Side))
                {
                    <div class="menu-item">
                        <p><b>@item.Name</b></p>
                        <p>Calories: @item.Calories</p>
                        <p>@String.Format("Price: {0:c}", item.Price)</p>
                    </div>
                }
            </div>   
        }

        @if(Model.Items.Where(item => item is Drink).Count() > 0)
        {
            <h2 id="drinks">Drinks</h2>
            <div class="drink-item-container">
                @foreach(MenuItem item in Model.Items.Where(item => item is Drink))
                {
                    <div class="menu-item">
                        <p><b>@item.Name</b></p>
                        <p>Calories: @item.Calories</p>
                        <p>@String.Format("Price: {0:c}", item.Price)</p>
                    </div>
                }
            </div>   
        }
    </div>
</div>
